<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>{% block title %}{{ 'base.title'|trans }}{% endblock %}</title>
        <meta name="theme-color" content="#0068FF">
        <link type="image/x-icon" rel="shortcut icon" href="{{ asset('branding/retailcrm/favicon/favicon.ico', 'cdn_package') }}">
        <link rel="icon" href="{{ asset('branding/retailcrm/favicon/favicon.svg', 'cdn_package') }}">
        <link rel="apple-touch-icon" href="{{ asset('branding/retailcrm/favicon/apple-touch-icon.png', 'cdn_package') }}">
        <link rel="manifest" href="{{ asset('branding/retailcrm/favicon/manifest.json', 'cdn_package') }}">
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="sb-show-main">

        <div id="app"></div>

        {% block footer_scripts %}
            <script>
                window.flashMsg = '';
                {% for message in app.flashes('error') %}
                    window.flashMsg += "{{ message|e('js') }} ";
                {% endfor %}
                window.app_locale = "{{ app.request.locale }}";
                window.app_translations = {{ translation_dumper.dump(app.request.locale)|json_encode|raw }};
            </script>
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

    </body>
</html>
